# Default owners of the repository
* @akucharska @dariadomagala @valentinvieriu @Wawrzyn321
# Owners of all .md files in the repository
*.md @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova @NHingerl
